
/* Estilos gerais para o footer */
#foo {
  background-color:rgb(244, 242, 242);
  color: rgb(9, 8, 8);
  padding: 20px;
  text-align: center;
  font-family: "Quicksand";
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); 
}

#foo .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.footer-section1 #sec{
  margin-left: 20px;
}
.footer-section1 #sef{
  margin-left: 20px;
}
.footer-section1  {
display: flex;
  margin: 10px 0;
}
#foo .footer-container .footer-section .footer-section1 {
  margin: 10px 0;
  
}
#foo .footer-container .footer-section h1, .footer-section1 h1{
  font-size: 18px;
  margin-bottom: 10px;
}
#foo .footer-container .footer-section1 p,
#foo .footer-container .footer-section1 a,
#foo .footer-container .footer-section p,
#foo .footer-container .footer-section a {
  font-size: 14px;
  color: rgb(10, 9, 9);
  text-decoration: none;
}

#foo .footer-container .footer-section a:hover {
  text-decoration: underline;
}

/* Estilos responsivos para telas menores que 600px */
@media (max-width: 860px) {
  #foo {
    padding: 10px;
  }

  #foo .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #foo .footer-container .footer-section {
    width: 100%;
    margin: 5px 0;
  }

  #foo .footer-container .footer-section h1 {
    font-size: 16px;
  }

  #foo .footer-container .footer-section p,
  #foo .footer-container .footer-section a {
    font-size: 12px;
  }
}



