 @media (min-width: 600px) {
            .container, #segundo-menu {
                display: none;
            }
               #be{ display: none;}
            #pra{display:none;}
             #foo{display:none;}



             
        }
