

body {
    overflow-x: hidden; z-index: 1000;
}
#sidebar {z-index: 1000;
    height: 430%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #343a40;
    transition: 0.3s;
    padding-top: 60px;
}
#sidebar.active {
    right: 0;
}
#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#sidebar a:hover {
    color: #f1f1f1;
}
#closeBtn {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 36px;
}
#openBtn {
    font-size: 20px;
    cursor: pointer;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
.dropdown-btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.dropdown-btn:hover {
    color: #f1f1f1;
}
.dropdown-btn .fas {
    float: right;
    transition: transform 0.3s;
}
.dropdown-btn.active .fas {
    transform: rotate(180deg);
}

